.full-page{
    height: 100%;
    overflow-y: auto;
}
.contact-content{
    text-align: center;
}
.form{
    width: 500px;
   
    border: 1px solid black;
    border-radius: 10px;
}
.form-input{
    padding: 5px;
    
}
.contact-info h2,p{
    text-align: center;
}
.contact-details{
    padding: 15px;
    border: 2px solid #d3d3d3;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}